<aside class="cloud" id="theme-cloud">
        <header><h4>Thèmes</h4></header>
        <div class="round-border">
        {% capture themes %}
            {% for game in site.posts %}
                {% for theme in game.themes | split %}{{ theme }}{% unless forloop.last %}::{% endunless %}{% endfor %}{% unless forloop.last %}::{% endunless %}
            {% endfor %}
        {% endcapture %}
    
        {% assign themes_set = themes | strip | split: "::" | uniq %}
        {% assign themes_count = themes | strip | split: "::" | size %}
        {% assign themes = themes | strip | append: "::" | prepend: "::" %}
    
        {% for theme in themes_set %}
            {% assign theme_count = themes | split: theme | size | minus: 1 %}
            <span style="font-size: {{ theme_count | times: 100 | divided_by: themes_count | plus: 70 }}%">
                <a href="/themes/#{{ theme | slugify: "latin" }}">{{ theme }}</a>
            </span>{% unless forloop.last %} | {% endunless %}
        {% endfor %}
    
        </div>
    </aside>
    